DATABASE_URL=postgresql://pozdravlyashka:pozdravlyashka@localhost:5432/pozdravlyashka?schema=public
API_PORT=3000

EMAIL_MODE=dev
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM="Поздравляшка <no-reply@pozdravlyashka.local>"
