@import '@angular/material/prebuilt-themes/azure-blue.css';

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  background: #f6f7fb;
}

a {
  text-decoration: none;
}
